.vscode/
.idea/
.vs
node_modules/
package-lock.json
asset/photo-booth/
asset/photo-booth/*
asset/upload/
asset/upload/*
asset/download/*
asset/ssh.json
asset/menu.txt
asset/db/read
asset/db/read.json
asset/ho_so_ccvc_nld

yarn.lock
public/photo-booth/
public/photo-booth/*
public/img/*
!public/img/*.*
.DS_Store
.editorconfig