.vscode/
.idea/
.vs
node_modules/
package-lock.json
yarn.lock

asset/host.json
asset/config.json
asset/migration.json
asset/menu.txt
asset/bundle
asset/upload/
asset/deTaiNCKH
asset/upload/*
asset/download/*
asset/ho_so_ccvc_nld
asset/db/tables
asset/congVanDen
asset/congVanDi
asset/nhiemVu
asset/phanHoi
dump.rdb

public/img/*
!public/img/*.*
.DS_Store
.gitignore
.editorconfig
modules.jsx